p{
    color: #ffa511;
    font-family: league spartan;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:palegreen underline double;
    text-align: center;
    text-transform: uppercase;
    

}